body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #353746;
    color: #eeeeec;
    animation: fadeIn  0.8s ease-in-out forwards;
    font-size: 18px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
header {
    background-color: #464c5e;
    padding: 20px;
    text-align: center;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header h1{
    text-align: center;
    margin: 0;
    color: #ffc000;
    font-size: 56px;

    -webkit-text-stroke: 2px #ffc000;
    -webkit-text-fill-color: transparent;
}
.assortment {
    padding: 20px;
}
.zagolovok-shop {
    padding: 20;
    text-align: center;
    height: 90px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
}
.zagolovok-shop a.korzina {
    display: inline-block;
    justify-content: center;
    background-image: linear-gradient(45deg, #ffc000, #ff8c00);
    width:  50%;
    padding: 10px 20px;
    background-color: #ffc000;
    color: #333;
    font-size: 28px;
    text-decoration: none;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}
.zagolovok-shop a.korzina:hover {
    background-color: #ffd903;
    color: #333;
    box-shadow: 0 6px 8px rgba(0,0,0,0.15 );
    transform: translateY(-2px);
}
.products {
    margin-top: 20px;

}
.table_shop {
    width: 100%;
    border-collapse: collapse;
}
.table_shop th,
.table_shop td {
    padding: 12px;
    text-align: center;  
    font-size:  24px;
    border-bottom: 1px solid #eeeeec;
}
.table_shop th {
    color: #eeeeec;
}
.table_shop td {
    color: #eeeeec;

}
.add-to-cart {
    background-color: #ffc000;
    border: none;
    color: #353746;
    padding: 14px 28px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-to-cart:hover {
    background-color: #ffd903;
}
