table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 60px;
    border: 2px solid #FFC000;
}
th {
    background-color: #FFC000;
    color: #353746;
    padding: 10px;
}
td {
    border: 1px solid #FFC000;
    padding: 10px;
    text-align: center;
    background-color: #dddddd;
    color: #353746;
}
